ul.artist-alpha-list, ul.label-alpha-list, ul.format-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		display: inline;
		margin-right: 6px;
	}
}

td.artist {
	width: 190px;
	margin-right: 10px;
}

td.title {
	width: 230px;
	margin-right: 10px;
}

td.label {
	width: 150px;
	margin-right: 10px;
}

td.format {
	width: 70px;
	margin-right: 10px;
}

td.original-release-date {
	width: 110px;
	margin-right: 10px;
}

td.release-date {
	width: 70px;
	margin-right: 10px;
}

td.upc {
	width: 70px;
	margin-right: 10px;
}

.menu ul {
	width: 250px;
}